{
	"upgrades" : {
	    "tech" : {
	    	"ivrpgucpeakperformance" : {
	    		"title" : "Desempenho Máximo",
	    		"description" : "Melhoria para a Batida do Cavaleiro.\nPulos no ar aumentados para 3.\nKnockback da Batida Aumentado.\n^red;Dano da Batida Diminuido."
	    	},
	    	"ivrpgucstunningsphere" : {
	    		"title" : "Armadura Atordoante",
	    		"description" : "Melhoria para a Esfera Blindada.\nSegure o botão esquerdo enquanto transformado para Atordoar os inimigos no contato.\n^red;Drena Energia enquanto o Atordoamento está ativo."
	    	},
	    	"ivrpguchoversphere" : {
	    		"title" : "Lutando com a Gravidade",
	    		"description" : "Melhoria para a Esfera de Gravidade.\nSegure o Espaço enquanto transformado para Planar em direção ao cursor.\n^red;Drena Energia enquanto o Planar está ativo."
	    	},
	    	"ivrpgucfourthwall" : {
	    		"title" : "Quarta Parede",
	    		"description" : "Melhoria para o Translocar.\nTranslocar agora permite ao usuário se teletransportar através de paredes, mesmo que o usuário esteja atualmente em um mundo instanciado."
	    	},
	    	"ivrpgucghost" : {
	    		"title" : "Fantasma",
	    		"description" : "Melhoria para a Esfera Desaparecedora.\nA Esfera Desaparecedora não fornece mais invulnerabilidade. Em vez disso, segure o botão esquerdo do mouse enquanto transformado para habilitar o Modo Fantasma, permitindo que você se mova através das paredes. Tenha cuidado, pois seu fôlego se esgota enquanto se desloca pelas paredes.\n^red;Drena Energia enquanto Fantasma está ativo."
	    	},
	    	"ivrpgucphaseout" : {
	    		"title" : "Phase Out",
	    		"description" : "Melhoria para o Passo das Sombras.\nO Passo das Sombras agora permite o usuário passar por paredes, mesmo que o usuário esteja atualmente em um mundo instanciado."
	    	},
	    	"ivrpgucwavedash" : {
	    		"title" : "Wavedash",
	    		"description" : "Melhoria para a Fuga!.\nArrancar no chão proporciona um grande impulso na velocidade.\nO Dano de Queda é negado por um curto período de tempo depois de arrancar."
	    	},
	    	"ivrpgucwalljump" : {
	    		"title" : "Pulo na Parede",
	    		"description" : "Melhoria para a Fuga!.\nPular na parede é ativado com Fuga!.\nArrancadas no ar são reabastecidas após se agarrar a uma parede."
	    	},
	    	"ivrpgucpinpointaccuracy" : {
	    		"title" : "Precisão Precisa",
	    		"description" : "Melhoria para a Esfera Tanque.\nFoguetes disparados enquanto transformado ativamente procura alvos com linha de visão direta."
	    	},
	    	"ivrpgucbatterypack" : {
	    		"title" : "Pacote de Bateria",
	    		"description" : "Melhoria para o Energizar.\nEnquanto a Energia está cheia,\nOs pulos no chão são melhorados ainda mais,\nO Dano de queda diminui ainda mais,\ne os pulos no ar são aumentados para 3."
	    	},
	    	"ivrpgucglidesphere" : {
	    		"title" : "Esfera de Hermes",
	    		"description" : "Melhoria para o Esfera Broca.\nMovimento no meio do ar melhorado. Ganha um pulo no meio do ar.\nSegure [W] enquanto transformado para Deslizar.\n^red;Drena Energia enquanto Deslizando."
	    	},
	    	"ivrpgucmoreenhanced" : {
	    		"title" : "Ainda Mais Aprimorado",
	    		"description" : "Melhoria para o Movimento Melhorado.\nVelocidade de Corrida aumentada. Altura de Pulo aumentada ao pular de uma Corrida.\nAumento da Duração da Arrancada. Agora é possível cancelar Arrancadas ao pular."
	    	},
	    	"ivrpguc" : {
	    		"title" : "Titulo",
	    		"description" : "Descrição"
	    	}
	    },
	    "weapon" : {
	    	"ivrpgucrighteousness" : {
	    		"title" : "Espírito de Justiça",
	    		"description" : "Bloqueios Perfeitos consecutivos com o Vital Aegis aumenta seu poder.\n^red;Bloquear regularmente reseta o ganho de energia atual."
	    	},
	    	"ivrpgucblindingjustice" : {
	    		"title" : "Justiça Cega",
	    		"description" : "Melhoria para o Vital Aegis.\nO 8th e o 9th Combo Steps Atordoa inimigos ao acertar."
	    	},
	    	"ivrpgucquicksilver" : {
	    		"title" : "Imprevisível",
	    		"description" : "Melhoria para o Primed Nova.\nPrimed Nova carrega mais rápido e possui um alcance de projeção maior.\n^red;No entanto, seu Dano geral é Diminuído."
	    	},
	    	"ivrpgucpassedprime" : {
	    		"title" : "Passed Prime",
	    		"description" : "Melhoria para o Primed Nova.\nPrimed Nova pode ser sobrecarregado,\naumentando Poder. O status causado\npor cada explosão é melhorado.\n^red;Inimigos já não explodem quando mortos."
	    	},
	    	"ivrpgucvampirescaress" : {
	    		"title" : "Beijo do Vampiro",
	    		"description" : "Melhoria para o Blood Aether.\nAo matar um inimigo com Blood Aether, ganha 2 segundos de Raiva e Regeneração fraca."
	    	},
	    	"ivrpgucbloodseeker" : {
	    		"title" : "Caçador de Sangue",
	    		"description" : "Melhoria para o Blood Aether.\nBlood Aether pode sentir inimigos de 10 blocos mais distante.\nAlém disso, um inimigo atingido por seu próprio Blood Aether receberá mais dano de todos os Blood Aethers."
	    	},
	    	"ivrpgucsymbiosis" : {
	    		"title" : "Simbiose",
	    		"description" : "Melhoria para o Siphon Spore.\nDá mais dano quando sua vida está abaixo de um terço."
	    	},
	    	"ivrpguccharger" : {
	    		"title" : "Charger",
	    		"description" : "Melhoria para o Siphon Flux.\nRestaure Energia para Aliados próximos quando Lightning Slice se conecta com um inimigo."
	    	},
	    	"ivrpguccombobreaker" : {
	    		"title" : "Quebra-Combo",
	    		"description" : "Melhoria para o Siphon Razor.\nCritical Slice pode ser usado após três ataques em vez de quatro.\n^red;No entanto, isso impede o uso do combo finalizador da sua outra arma de punho."
	    	},
	    	"ivrpguchardlight" : {
	    		"title" : "Luz Direta",
	    		"description" : "Melhoria para o Versa Ricochet.\nBalas quicam para inimigos próximos ao bater nas paredes.^red;\nBalas não ganham tanto Dano com cada quique."
	    	},
	    	"ivrpguctriggerhappy" : {
	    		"title" : "Trigger Happy",
	    		"description" : "Melhoria para o Versa Ricochet.\nVersa Ricochet dispara imediatamente quando carregado e leva menos tempo para carregar completamente."
	    	},
	    	"ivrpgucspintowin" : {
	    		"title" : "Gire para Ganhar",
	    		"description" : "Melhoria para o Ravenous Spira.\nCausa dobro de dano aos inimigos. Capaz de perfurar mais perto da base da arma.\n^red;A Energia drena no dobro da velocidade."
	    	},
	    	"ivrpgucrighthandman" : {
	    		"title" : "Braço Direito",
	    		"description" : "Melhoria para o Ravenous Spira.\nRavenous Spira quebra blocos de plano de fundo quando usado na Mão Direita (Mão Secundária).\n^red;A Energia não pode ser recuperada ao quebrar blocos de plano de fundo enquanto segura Shift."
	    	}
	    },
	    "affinity" : {
	    	"ivrpgucplasmacore" : {
	    		"title" : "Núcleo de Plasma",
	    		"description" : "Melhoria para a Afinidade Eletricidade & Arc.\nFraquezas de Afinidade já não afetam você."
	    	},
		    "ivrpguceternalflame" : {
		    	"title" : "Chama Eterna",
		    	"description" : "Melhoria para a Afinidade Fogo & Infernal\nFraquezas de Afinidade já não afetam você."
		    },
		    "ivrpgucincurable" : {
		    	"title" : "Incurável",
		    	"description" : "Melhoria para a Afinidade Veneno & Tóxico\nFraquezas de Afinidade já não afetam você."
		    },
		    "ivrpgucevergreen" : {
		    	"title" : "Evergreen", 
		    	"description" : "Melhoria para a Afinidade Gelo & Crio.\nFraquezas de Afinidade já não afetam você."
		    },
		    "ivrpgucbloom" : {
	    		"title" : "Florescer",
	    		"description" : "Melhoria para a Afinidade Fogo & Infernal\nQuando você mata um inimigo Queimando, Derretendo ou Cauterizado, eles explodem.\nDano da Explosão escala com Multiplicador de Poder."
	    	},
	    	"ivrpgucvikingfuneral" : {
	    		"title" : "Funeral Viking",
	    		"description" : "Melhoria para a Afinidade Fogo & Infernal\nCauterizar dura duas vezes mais."
	    	},
	    	"ivrpgucfeedbackloop" : {
	    		"title" : "Feedback Loop",
	    		"description" : "Melhoria para a Afinidade Eletricidade & Arc.\nAo infligir o Status Sobrecarga,\nGanha Raiva por 2 segundos."
	    	},
	    	"ivrpgucdischarge" : {
	    		"title" : "Descarga",
	    		"description" : "Melhoria para a Afinidade Eletricidade & Arc.\nEnquanto estiver molhado ou tocando líquido,\nentidades próximas estão eletrificadas repetidamente."
	    	},
	    	"ivrpgucmiasma" : {
	    		"title" : "Miasma",
	    		"description" : "Melhoria para a Afinidade Veneno & Tóxico\nAs nuvens invocadas aos seus pés infligem Veneno Fraco."
	    	},
	    	"ivrpguccontagion" : {
	    		"title" : "Contágio",
	    		"description" : "Melhoria para a Afinidade Veneno & Tóxico\nInimigos Intoxicados têm uma chance de 5%\nde Intoxicar inimigos próximos a cada 0,25 segundos."
	    	},
	    	"ivrpgucskadisblessing" : {
	    		"title" : "Bênção de Skadi",
	    		"description" : "Melhoria para a Afinidade Gelo & Crio.\nCausa + 50% de dano com Arcos.Golpes com flechas sempre Fragilizam por 3 segundos.\nNão funciona com o Adaptable Crossbow."
	    	},
	    	"ivrpguccoldheart" : {
	    		"title" : "Coração Frio",
	    		"description" : "Melhoria para a Afinidade Gelo & Crio.\nQuanto mais tempo um inimigo é Fragilizado,\nmais dano eles tomam de fontes externas."
	    	},
	    	"ivrpgucicequeen" : {
	    		"title" : "Rainha de Gelo",
	    		"description" : "Melhoria para a Afinidade Gelo & Crio. ^red;Apenas para Personagens Femininos.^reset;\nCausa + 75% de dano com Chicotes, Garras e Adagas.\nSem diminuição na Velocidade ao usar Chicotes."
	    	}
	    },
	    "general" : {
	    	"ivrpguc.general" : {
	    		"title" : "Titulo",
	    		"description" : "Test to see font size as well as total wrapping length. Hopefully we can get this sizeable chunk of text into this small area, because if not, we'll have issues in the future with describing various upgrades. I also need to check total length up and down, just because."
	    	},
	    	"ivrpgucsadism" : {
	    		"title" : "Sadismo",
	    		"description" : "Descrição"
	    	},
	    	"ivrpgucmasochism" : {
	    		"title" : "Masoquismo",
	    		"description" : "Descrição"
	    	},
	    	"ivrpgucmomentum" : {
	    		"title" : "Ímpeto",
	    		"description" : "Descrição"
	    	},
	    	"ivrpgucearlybird" : {
	    		"title" : "Madrugador",
	    		"description" : "Descrição"
	    	},
	    	"ivrpgucphotosynthesis" : {
	    		"title" : "Fotossíntese",
	    		"description" : "Descrição"
	    	},
	    	"ivrpguctotalblackout" : {
	    		"title" : "Apagão Total",
	    		"description" : "Descrição"
	    	},
	    	"ivrpgucmonstermaster" : {
	    		"title" : "Monster Master",
	    		"description" : "Descrição"
	    	},
	    	"ivrpgucunstoppable" : {
	    		"title" : "Imparável",
	    		"description" : "Descrição"
	    	},
	    	"ivrpgucdangerclose" : {
	    		"title" : "Perigo Próximo",
	    		"description" : "Descrição"
	    	},
	    	"ivrpguctruevampire" : {
	    		"title" : "Vampiro Verdadeiro",
	    		"description" : "Descrição"
	    	},
	    	"ivrpguclaststand" : {
	    		"title" : "Last Stand",
	    		"description" : "Descrição"
	    	},
	    	"ivrpgucdecay" : {
	    		"title" : "Decadência",
	    		"description" : "Descrição"
	    	},
	    	"ivrpgucitsatrap" : {
	    		"title" : "É uma Armadilha!",
	    		"description" : "Descrição"
	    	},
	    	"ivrpguc" : {
	    		"title" : "Titulo",
	    		"description" : "Descrição"
	    	}
	    }
  	}
}